:root {
    --gray: #D9D8D3;
    --green1: #0A4B45;
    --green2: #BDFE00;
    --orange: #FD8002;
    --pink1: #FE6B80;
    --pink2: #FEB3B6;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

body {
    background: url("/src/assets/img/onigiri-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh
}